@* @page
@model LoginModel

@{
    ViewData["Title"] = "";
    // Layout = "~/Views/Shared/_Layout1.cshtml";
}
<head>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="~/css/login.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
</head>
<body>


    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Welcome @User.Identity?.Name!</li>
                                <li>Ramadan Kareem 🌙</li>
                                <li class="home"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/profile.php?id=100046884501118"><i class="fa fa-facebook"></i></a>
                                <a href="https://api.whatsapp.com/send/?phone=201014403309&text&type=phone_number&app_absent=0"><i class="fa fa-whatsapp"></i></a>
                            </div>
                            <div class="header__top__right__auth">



                                <div class="header__top__right__auth">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>

                                </div>

                                <div class="header__top__right__auth">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>

                                </div>







                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <h1>@ViewData["Title"]</h1>
   
 


    <section class="form">
            <div class="form-box">
               <div class="form-value">

                    <form id="account" method="post">


                        <p class="h"> Log In</p>

                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group">
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" aria-required="true"  />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        </div>
                        <div class="form-floating mb-3">
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon> 
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true"  />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        </div>
                        <div class="checkbox mb-3">
                            <div class="forget">
                            <label asp-for="Input.RememberMe" class="form-label" >
                                <input class="form-check-input" type="checkbox" asp-for="Input.RememberMe"  />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>

                            <div id="create">
                                <div class="register">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">CREATE A NEW ACCOUNT ?</a>
                            </div>
                            </div>

                        </div>

                    </form>
                    </div>
                    </div>
                    
                </section>
            </div>
        </div>
    
   
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

</body> *@


        @page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Ahmed.css">
</head>
<body>


    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Welcome @User.Identity?.Name!</li>
                                <li>Ramadan Kareem 🌙</li>
                                <li class="home"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/profile.php?id=100046884501118"><i class="fa fa-facebook"></i></a>
                                <a href="https://api.whatsapp.com/send/?phone=201014403309&text&type=phone_number&app_absent=0"><i class="fa fa-whatsapp"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                <div class="header__top__right__auth">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <div class="img" style="background-image: url(/img/bg-1.jpg);"></div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
@*                                     <img src="~/img/bg-1.jpg" />
 *@                                    <h3 class="mb-4">Sign In</h3>
                                </div>
                            </div>
                            <form id="account" method="post" class="signin-form">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-group mt-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" required>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" type="password" required>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0">
                                            <input asp-for="Input.RememberMe" type="checkbox" checked> Remember Me
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                    </div>
                                </div>
                            </form>
                            <p class="text-center">Not a member? <a asp-area="Identity" asp-page="/Account/Register">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>