@page
@model LogoutModel
@{
    ViewData["Title"] = "";
}

<head>
    <h1>@ViewData["Title"]</h1>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="~/css/Logout.css" type="text/css">
    </head>
<body>
    <section>
    <div class="form-box">
        <div class="form-value">

        



        @{

            if (User.Identity?.IsAuthenticated ?? false)
            {
                <form class="logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">



                    <h2>Log out</h2>
                    <div class="logout">
                    <p>Are you sure you want to log out?</p>
                    </div>
                    <button type="submit"id="create">Click here to Logout</button>

                </form>
            }


        }
        </div>
    </div>

    </section>
    </body>









