 @page
@model RegisterModel
@{
    ViewBag.Title = "Title";
   // Layout = "~/Views/Shared/_Layout1.cshtml";
}


<head>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="~/css/Reg.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    </head>
    <body>
   
   
   




    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Welcome @User.Identity?.Name!</li>
                                <li>Ramadan Kareem 🌙</li>
                                <li class="home"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/profile.php?id=100046884501118"><i class="fa fa-facebook"></i></a>
                                <a href="https://api.whatsapp.com/send/?phone=201014403309&text&type=phone_number&app_absent=0"><i class="fa fa-whatsapp"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                               

                               
                                    <div class="header__top__right__auth">
                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>

                                    </div>

                                    <div class="header__top__right__auth">
                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>

                                    </div>
                                
                               
                                    
                                   
                                


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section>

            <div class="form-box">
            
            

            <div class="form-value">

   
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
       



                <p class="h">Create a new account</p>
                <div class="inputbox"> <ion-icon name="mail-outline"></ion-icon>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" aria-required="true"  />

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                </div>
                <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true"  />

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div></div>
                <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon>
                <div class="form-floating mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true"  />

                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div></div>
                <div class="inputbox"> 
                <div class="form-floating mb-3">
                    <label asp-for="Input.Phone" class="form-label">Phone</label>
                    <input asp-for="Input.Phone" type="tel" class="form-control" aria-required="true"  pattern="^01[0125][0-9]{8}$" />

                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div></div>
                <div class="inputbox"> 
                <div class="form-floating mb-3">
                    <label asp-for="Input.Address" class="form-label">Address</label>
                    <input asp-for="Input.Address" class="form-control" aria-required="true"  />

                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div></div>


                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>


        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
     
  </div>
  </div>
  </section>

    </body>



