 @page
@model RegisterModel
@{
    ViewBag.Title = "Title";
   // Layout = "~/Views/Shared/_Layout1.cshtml";
}


<head>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="~/css/Reg.css" type="text/css">
    </head>
    <body>
   
   @* 
   
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                   
                    <h1>Create a new account</h1>
                   
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@gmail.com" />
                      
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                      
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword"type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                      
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.Phone" class="form-label">Phone</label>
                        <input asp-for="Input.Phone" type="tel" class="form-control" aria-required="true" placeholder="Phone" pattern="^01[0125][0-9]{8}$" />
                      
                        <span asp-validation-for="Input.Phone" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <label asp-for="Input.Address" class="form-label">Address</label>
                        <input asp-for="Input.Address" class="form-control" aria-required="true" placeholder="Address" />
                       
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>


                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>

            </div>
            <div class="col-md-6 col-md-offset-2">
            </div>
        </div> *@


        <section>
            <div class="form-box">

            <div class="form-value">

   
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">


                <h2>Create a new account</h2>
                <div class="inputbox"> <ion-icon name="mail-outline"></ion-icon>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" aria-required="true"  />

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                </div>
                <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true"  />

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div></div>
                <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon>
                <div class="form-floating mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true"  />

                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div></div>
                <div class="inputbox"> 
                <div class="form-floating mb-3">
                    <label asp-for="Input.Phone" class="form-label">Phone</label>
                    <input asp-for="Input.Phone" type="tel" class="form-control" aria-required="true"  pattern="^01[0125][0-9]{8}$" />

                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div></div>
                <div class="inputbox"> 
                <div class="form-floating mb-3">
                    <label asp-for="Input.Address" class="form-label">Address</label>
                    <input asp-for="Input.Address" class="form-control" aria-required="true"  />

                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div></div>


                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>


        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
     
  </div>
  </div>
  </section>

    </body>



