@model dynamic;


<h2>WishList</h2>

<div class="row featured__filter container">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
            <div class="featured__item">
                <div class="featured_item_pic set-bg" data-setbg=@Url.Content("~/img/product/" + item.Img)>
                    <ul class="featured_itempic_hover">
                        @*                                 <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    *@
                        <li><a href="@Url.Action("RemoveProductFromWish", "WishList", new { id = item.ID })"><i class="icon_close"></i></a></li>

                        <li>
                            <form method="post" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.ID">
                                <button type="submit" style="border:none; background-color:transparent">
                                    <a><i class="fa fa-shopping-cart"></i></a>
                                </button>
                            </form>
                        </li>

                        @*                                 <li><a id="btnAddToCart" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.ID"><i class="fa fa-shopping-cart"></i></a></li>
                    *@
                    </ul>
                </div>
                <div class="featured_item_text">
                    <h6><a href="#">@item.Name</a></h6>
                    <h5>$@(item.Price - (item.Price * item.Discount / 100))</h5>
                </div>
            </div>
        </div>
    }

</div>