@model List<MarketWebApp.Models.Entity.ApplicationUser>
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h2 class="text-center mb-4">Users with Orders</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group">
                @foreach (var user in Model)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>@user.UserName</span>
                        <a href="@Url.Action("Index", "ConfirmOrder", new { userId = user.Id })" class="btn btn-secondary">View Orders</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

